@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-size: 1rem;
}

.navbar {
  background-color: #f9f9f9;
  z-index: 2;
  position: absolute;
  right: 0;
  width: 100%;
  transition: 0.5s;
}

.navbar.active{
  margin-right: 300px;
}

.main-nav h2 {
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}

.main-nav h2 span {
  color: #D25400;
}

.main-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
}

.toggle.active {
  background: url('image/close.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  filter: invert(1);
  margin-left: 35%;
}

.toggle {
  background: url('image/menu.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: 30px;
  cursor: pointer;
  background-position: center;
  filter: invert(1);
}

.menu  {
  top: 0;
  right: 0;
  position: absolute;
  width: 300px;
  background: ;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li {
  margin-bottom: 30px;
  position: relative;
}

.menu ul li a {
  font-size: 1.2rem;
}

.menu ul li a:hover {
  color: #D25400;
}

a {
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: aut0;
  padding: 0 2rem;
}

.main-header {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: #D25400;
}

.main-header p {
  font-size: 1.3rem;
  text-align: left;
  align-items: left;
}

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
  border-radius: 6px;
}

.card h3 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 640;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(odd) img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card:nth-child(even) img {
  order: 2;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

@media(max-width: 700px) {
  .card {
    display: block;
  }

  .main-header h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    line-height: 1;
  }

  .main-header p {
    font-size: 1.2rem;
  }

  .main-header {
    margin-bottom: 6rem;
  }
}
